* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* Header */

.inactive {
    display: none;
}

aside {
    margin-top: 5rem;
    position: absolute;
    right: 0;
    top: 0;
    background-size: cover;
    object-fit: cover;
    width: 8%;
    height: 75%;
    z-index: 10;
    border-radius: 1rem;
    background-color: #7bd1e600;
    margin-right: .5rem;
    transition: all 0.6s ease-in-out;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
    animation-name: slidein;
    animation-duration: 0.5s;
    animation-fill-mode: forwards;
}

.aparecermenu {
    right: 0;
}

.menu {
    cursor: pointer;
}

@keyframes slidein {
    from {
        right: -50px;
    }

    to {
        right: 0;
    }
}

@keyframes slideout {
    from {
        right: 0;
    }

    to {
        right: -250px;
    }
}

.navbar-aside {
    width: auto;
    margin: 0 !important;
}

.menu {
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menu:hover {
    transform: scale(1.1);
}

.menu.active {
    transform: rotate(45deg);
}

.navbar {
    position: absolute;
    top: 0;
    right: -100%;
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
}

nav a {
    text-decoration: none;
}

a.active {
    border-bottom: solid rgba(10, 38, 71, 0.884) 2px;
}

.menu.active~.navbar {
    right: 0;
}

.box-nav {
    height: 6rem;
}

.box-logo2 {
    height: 10rem;
    background-color: rgba(255, 255, 255, 0.603);
    width: 12rem;
    margin-right: 60rem;
    border-radius: 50rem;
    margin-top: 0.3rem;
}

.logo-2 {
    height: 10rem;
    width: 12rem;
    margin-right: 60rem;
    object-fit: contain;
}

.img-home {
    height: 2.2rem;
    width: 2.2rem;
    margin-top: 2rem;
    cursor: pointer;
}

h3 {
    height: 4rem;
}

.img-account {
    width: 2.2rem;
    height: 2.2rem;
    margin-top: 1rem;
    cursor: pointer;
}

.img-card {
    width: 2.2rem;
    height: 2.2rem;
    margin-top: 1rem;
    cursor: pointer;
}


.img-services {
    width: 2.2rem;
    height: 2.2rem;
    margin-top: 1rem;
    cursor: pointer;
}

.img-sign_off {
    width: 2.2rem;
    height: 2.2rem;
    margin-top: 1rem;
    cursor: pointer;
}

.img-contact {
    width: 2.2rem;
    height: 2.2rem;
    margin-top: 1rem;
    cursor: pointer;
}

/* Animación para la imagen "home" */
.img-home:hover {
    animation: pulse 0.5s linear infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

/* Animación para la imagen "account" */
.img-account:hover {
    animation: pulse 0.5s linear infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

/* Animación para la imagen "Cards" */
.img-card:hover {
    animation: pulse 0.5s linear infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

/* Animación para la imagen "services" */
.img-services:hover {
    animation: pulse 0.5s linear infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

/* Animación para la imagen "sign off" */
.img-sign_off:hover {
    animation: pulse 0.5s linear infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

/* Animación para la imagen "contact" */
.img-contact:hover {
    animation: pulse 0.5s linear infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.box-logo2 {
    height: 10rem;
    background-color: rgba(255, 255, 255, 0.603);
    width: 12rem;
    margin-right: 60rem;
    border-radius: 50rem;
    margin-top: 0.3rem;
}

.logo-2 {
    height: 10rem;
    width: 12rem;
    margin-right: 60rem;
    object-fit: contain;
}


/* Main */

main {
    min-height: 90vh;
}

.title-main {
    margin-top: 4.5rem !important;
    height: 80px;
    width: 100%;
    background-color: #0066cc52;
}


table {
    width: 30em;
    margin-bottom: 2rem;
    margin-left: 10.5rem;
    border: solid black 1px;
    border-collapse: collapse;
}

th {
    width: 2rem;
    border: solid black 1px;
}

td {
    border: solid black 1px;
}

#pre-1 {
    height: 30em !important;
    overflow-x: hidden;
    margin-left: 4rem;
    border: black solid 2px;
}

.request {
    width: 40em;
    padding: 15px;
}

form {
    width: 25rem;
}

.search-img {
    width: 2rem;
    height: 2rem;
    background-color: none;
}

.caja-1 {
    background-color: #000000;
    width: 50%;
}

.title-accounts {
    margin: 1rem !important;
    height: 40px;
    width: 80;
}

.title-accounts {
    margin: 0;
    text-align: center;
    font-size: 36px;
    color: #000000;
}

/* card account */

.card {
    width: 320px;
    border: 1px solid #ddd;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    overflow: hidden;
    margin: 20px;
}

.card-header {
    background-color: #0066cc;
    color: #fff;
    padding: 1px;
}

.card-header h3 {
    margin: 0;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-body {
    padding: 20px;
}

.card-body ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.card-body li {
    margin-bottom: 10px;
    font-size: 16px;
}

.card-body strong {
    font-weight: bold;
    margin-right: 10px;
}

.card-body .view-transactions {
    display: block;
    margin-top: 20px;
    text-align: center;
    font-size: 16px;
    color: #0066cc;
    text-decoration: none;
}

.card-body .view-transactions:hover {
    text-decoration: underline;
}

.view_transactions {
    height: 2rem;
    width: 2rem;
    object-fit: contain;
}

.delete-account-img{
    height: 1.5rem;
    width: 1.5rem;
}

/* card loans */
.card-loan {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    height: 50%;
    width: 90%;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th {
    text-align: left;
    font-weight: bold;
    padding: 10px;
    background-color: #f7f7f7;
    border-bottom: 1px solid #ddd;
}

td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

tr:nth-child(even) {
    background-color: #f7f7f7;
}

body {
    background-image: linear-gradient(to bottom right, #2193b0, #6dd5ed, #ffffff, #bce6eb, #2193b0);
    background-repeat: no-repeat;
    background-size: cover;
}

::after {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom right, #0f4c75, #3282b8, #ffffff, #b5e7a0, #0f4c75);
    opacity: 0.3;
}

.loan-icon {
    height: 3rem;
    width: 3rem;
}

h5 a {
    text-decoration: none;
}
.payLoans{
    height: 3rem;
    width: 3rem;
}


/*--------------------------------------------------------boton que lleva al inicio-----------------------------------------------------------*/
#btn-scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    z-index: 9999;
}

#btn-scroll-top:hover {
    background-color: #555;
}

.fa-angle-up {
    display: inline-block;
    transform: rotate(-45deg);
}

#letra-justify {
    text-align: justify;
}

.modal-body {
    overflow-y: auto;
    max-height: 400px;
}

.content-body {
    text-align: justify;
    border-bottom: white solid 1px;

}

.click {
    height: 3rem;
    width: 3rem;
}

.click:hover {
    animation: pulse 0.5s linear infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-top-color: #09f;
    animation: spin 1s ease-in-out infinite;
}

.img-loading {
    height: 25rem;
    height: 25rem;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

/* Footer */

footer {
    background-color: rgba(10, 38, 71, 0.884);
    color: #fff;
    font-size: 14px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #ddd;
}

footer h5 {
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    font-weight: bold;
}

footer p {
    margin-bottom: 15px;
}

footer .fa {
    margin-right: 10px;
    font-size: 18px;
}

footer .fab {
    color: #fff;
}

footer .fab:hover {
    color: #ddd;
}

footer .col-md-4 {
    margin-bottom: 30px;
}

footer .mt-3 {
    margin-top: 20px;
}

footer p:last-child {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    footer .col-md-4 {
        margin-bottom: 50px;
    }
}

.img-ins {
    height: 2rem;
    width: 2rem;
    margin-left: .5rem;
}

.img-face {
    height: 2rem;
    width: 2rem;
    margin-left: .5rem;
}

.img-git {
    height: 2rem;
    width: 2rem;
    margin-left: .5rem;
}

.img-In {
    height: 2rem;
    width: 2rem;
    margin-left: .5rem;
}

.me-name {
    font-size: 1rem;
}
@media only screen and (min-width: 375px) and (max-width: 424px){
    aside {
        margin: 0 !important;
        position: absolute;
        right: 0;
        top: 6rem;
        background-size: cover;
        object-fit: cover;
        width: 100%;
        height: 278%;
        z-index: 10;
        border-radius: 0;
        background-color: #7bd1e600;
        transition: all 0.6s ease-in-out;
        transform: scale(1);
        transition: all 0.5s ease-in-out;
        animation-name: slidein;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        background-color: rgba(255, 255, 255, 0.973);
    }
    .card-loan{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .table-loans{
        text-align: center;
        margin: 0 !important;
    }
    .box-loans{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    th{
        height: 1rem;
        width: 1rem;
        font-size: .5rem;
    }
    td{
        height: 1rem;
        width: 1rem;
        font-size: .5rem;
    }
    .payLoans{
        height: 1rem;
        width: 1rem;
    }

}
@media only screen and (min-width: 425px) and (max-width: 767px){
    aside {
        margin: 0 !important;
        position: absolute;
        right: 0;
        top: 6rem;
        background-size: cover;
        object-fit: cover;
        width: 100%;
        height: 278%;
        z-index: 10;
        border-radius: 0;
        background-color: #7bd1e600;
        transition: all 0.6s ease-in-out;
        transform: scale(1);
        transition: all 0.5s ease-in-out;
        animation-name: slidein;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        background-color: rgba(255, 255, 255, 0.973);
    }
    .card-loan{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .table-loans{
        text-align: center;
        margin: 0 !important;
    }
    .box-loans{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    th{
        height: 1rem;
        width: 1rem;
        font-size: .6rem;
    }
    td{
        height: 1rem;
        width: 1rem;
        font-size: .6rem;
    }
    .payLoans{
        height: 1rem;
        width: 1rem;
    }

}
@media only screen and (min-width: 768px) and (max-width: 1023px){
    aside {
        margin: 0 !important;
        position: absolute;
        right: 0;
        top: 6rem;
        background-size: cover;
        object-fit: cover;
        width: 100%;
        height: 278%;
        z-index: 10;
        border-radius: 0;
        background-color: #7bd1e600;
        transition: all 0.6s ease-in-out;
        transform: scale(1);
        transition: all 0.5s ease-in-out;
        animation-name: slidein;
        animation-duration: 0.5s;
        animation-fill-mode: forwards;
        background-color: rgba(255, 255, 255, 0.973);
    }
    .card-loan{
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .table-loans{
        text-align: center;
        margin: 0 !important;
    }
    .box-loans{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    th{
        height: 1rem;
        width: 1rem;
        font-size: .8rem;
    }
    td{
        height: 1rem;
        width: 1rem;
        font-size: .8rem;
    }
    .payLoans{
        height: 1rem;
        width: 1rem;
    }

}