* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/*Header */
.inactive {
    display: none;
}

aside {
    margin-top: 5rem;
    position: absolute;
    right: 0;
    top: 0;
    background-size: cover;
    object-fit: cover;
    width: 8%;
    height: 75%;
    z-index: 10;
    border-radius: 1rem;
    background-color: #7bd1e600;
    margin-right: .5rem;
    transition: all 0.6s ease-in-out;
    transform: scale(1);
    transition: all 0.5s ease-in-out;
	animation-name: slidein;
	animation-duration: 0.5s;
	animation-fill-mode: forwards;
}


.aparecermenu {
	right: 0;
}

.menu {
	cursor: pointer;
}

@keyframes slidein {
	from {
		right: -50px;
	}

	to {
		right: 0;
	}
}
@keyframes slideout {
	from {
		right: 0;
	}

	to {
		right: -250px;
	}
}

.navbar-aside {
    width: auto;
    margin: 0 !important;
}

.menu {
    height: 4rem;
    width: 4rem;
    margin-right: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

.menu:hover {
    transform: scale(1.1);
}

.menu.active {
    transform: rotate(45deg);
}

.navbar {
    position: absolute;
    top: 0;
    right: -100%;
    width: 20rem;
    height: 100vh;
    background-color: #fff;
    z-index: 9999;
    transition: all 0.3s ease-in-out;
}
nav a{
    text-decoration: none;
}
a.active {
	border-bottom: solid rgba(10, 38, 71, 0.884) 2px;
}

.menu.active~.navbar {
    right: 0;
}
.box-nav{
    height: 6rem;
}
.box-logo2{
    height: 10rem;
    background-color: rgba(255, 255, 255, 0.603);
    width: 12rem;
    margin-right: 60rem;
    border-radius: 50rem;
    margin-top: 0.3rem;
}
.logo-2{
    height:10rem;
    width: 12rem;
    margin-right: 60rem;
    object-fit: contain;
}

.img-home {
    height: 2.2rem;
    width: 2.2rem;
    margin-top: 2rem;
    cursor: pointer;
}
h3{
    height: 4rem;
}

.img-account {
    width: 2.2rem;
    height: 2.2rem;
    margin-top: 1rem;
    cursor: pointer;
}
.img-card {
    width: 2.2rem;
    height: 2.2rem;
    margin-top: 1rem;
    cursor: pointer;
}


.img-services {
    width: 2.2rem;
    height: 2.2rem;
    margin-top: 1rem;
    cursor: pointer;
}

.img-sign_off {
    width: 2.2rem;
    height: 2.2rem;
    margin-top: 1rem;
    cursor: pointer;
}

.img-contact {
    width: 2.2rem;
    height: 2.2rem;
    margin-top: 1rem;
    cursor: pointer;
}

/* Animación para la imagen "home" */
.img-home:hover {
    animation: pulse 0.5s linear infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

/* Animación para la imagen "account" */
.img-account:hover {
    animation: pulse 0.5s linear infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}
/* Animación para la imagen "Cards" */
.img-card:hover {
    animation: pulse 0.5s linear infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

/* Animación para la imagen "services" */
.img-services:hover {
    animation: pulse 0.5s linear infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

/* Animación para la imagen "sign off" */
.img-sign_off:hover {
    animation: pulse 0.5s linear infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}

/* Animación para la imagen "contact" */
.img-contact:hover {
    animation: pulse 0.5s linear infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}
body {
    background-image: linear-gradient(to bottom right, #2193b0, #6dd5ed, #ffffff, #bce6eb, #2193b0);
    background-repeat: no-repeat;
    background-size: cover;
}


/* Main */

main {
    min-height: 75vh;
}

.card-body{
    background-color: rgba(255, 255, 255, 0.281);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
}
.createCardsDiv{
    height: 98vh;
    object-fit: cover;
}

/*form*/
.glassmorphism{
    background: rgba(255, 255, 255, 0.5);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 1.5px );
    -webkit-backdrop-filter: blur( 1.5px );
    border-radius: 10px;
    border: 1px solid rgba( 255, 255, 255, 0.18 );
    width: 100%;
    height: 100%;
}

form{
    width: 80%;
}

.btn-register{
    border: 1px solid white;
    color: white;
}

.btn-register:hover {
    border: 1px solid white;
    color: white;
}

select{
    width: 100% !important;
}

input::-webkit-outer-spin-button , input::-webkit-inner-spin-button{
    -webkit-appearance: none !important;
    margin: 0;
}

/*--------------------------------------------------------boton que lleva al inicio-----------------------------------------------------------*/
#btn-scroll-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 40px;
    height: 40px;
    border: none;
    border-radius: 50%;
    background-color: #333;
    color: #fff;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
    z-index: 9999;
}

#btn-scroll-top:hover {
    background-color: #555;
}

.fa-angle-up {
    display: inline-block;
    transform: rotate(-45deg);
}

#letra-justify {
    text-align: justify;
}
.modal-body {
    overflow-y: auto;
    max-height: 400px;
}

.content-body {
    text-align: justify;
    border-bottom: white solid 1px;

}
.cards-2{
    height: 2.5rem;
    width: 2.5rem;
}
.cards-2:hover {
    animation: pulse 0.5s linear infinite alternate;
}

@keyframes pulse {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(1.2);
    }
}
.loading-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.loading-circle {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 4px solid rgba(255, 255, 255, 0.2);
    border-top-color: #09f;
    animation: spin 1s ease-in-out infinite;
}
.img-loading{
    height: 25rem;
    height: 25rem;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}



/* Footer*/

footer {
    background-color: rgba(10, 38, 71, 0.884);
    color: #fff;
    font-size: 14px;
}

footer a {
    color: #fff;
}

footer a:hover {
    color: #ddd;
}

footer h5 {
    font-size: 16px;
    margin-bottom: 15px;
    text-transform: uppercase;
}

footer ul {
    list-style: none;
    padding: 0;
}

footer ul li {
    margin-bottom: 10px;
}

footer ul li a {
    font-weight: bold;
}

footer p {
    margin-bottom: 15px;
}

footer .fa {
    margin-right: 10px;
    font-size: 18px;
}

footer .fab {
    color: #fff;
}

footer .fab:hover {
    color: #ddd;
}

footer .col-md-4 {
    margin-bottom: 30px;
}

footer .mt-3 {
    margin-top: 20px;
}

footer p:last-child {
    margin-bottom: 0;
}

@media (max-width: 768px) {
    footer .col-md-4 {
        margin-bottom: 50px;
    }
}

.img-ins {
    height: 2rem;
    width: 2rem;
    margin-left: .5rem;
}

.img-face {
    height: 2rem;
    width: 2rem;
    margin-left: .5rem;
}

.img-git {
    height: 2rem;
    width: 2rem;
    margin-left: .5rem;
}

.img-In {
    height: 2rem;
    width: 2rem;
    margin-left: .5rem;
}

.me-name {
    font-size: 1rem;
}

