* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
header{
    background: linear-gradient(to bottom, #87CEFA, #DCDCDC);
}
main {
    min-height: 90vh;
    background: linear-gradient(to bottom, #87CEFA, #DCDCDC);

}
.nav-manager a{
    margin: 2rem;
}

table {
    width: 30em;
    margin-bottom: 2rem;
    margin-left: 10.5rem;
    border: solid black 1px;
    border-collapse: collapse;
}

th {
    width: 2rem;
    border: solid black 1px;
}

td {
    border: solid black 1px;
}

#pre-1 {
    height: 30em !important;
    overflow-x: hidden;
    margin-left: 4rem;
    border: black solid 2px;
}

.request {
    width: 40em;
    padding: 15px;
}

form {
    width: 25rem;
}

.search-img {
    width: 2rem;
    height: 2rem;
    background-color: none;
}

.caja-1 {
    background-color: #000000;
    width: 50%;
}

/* header index */

.icon-nav {
    width: 4rem;
    height: 4rem;
}


/* Main */

.index-home {
    background-image: url(../assets/fondo1.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
    min-height: 100vh;
}

.main-pag{
    min-height: 100vh;
}

.box-img {
    padding: 0 !important;
    height: 100 vh;
    background-color: rgba(255, 255, 255, 0.767);

}

.navbar {
    height: 100 vh;
    margin: 0;
}

.logo {
    height: 18rem;
    width: 25rem;
    background-size: cover;

}

a{
    font-size: 2 rem;
    font-weight: bolder;
}

/* Transaction */
.DEBIT {
	color: red !important;
}
.CREDIT {
	color: green !important;
}


/* footer */